
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

header, footer {
 font-family: "Noto Serif", serif;
  background-color: #9debf5;
  padding: 10px;
}

main {
  padding: 10px;
  background-color: silver;
  font-family: "Noto Serif", serif;
}

.post {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  display: flex;
}

.post img {
  margin: 20px;
}

.footer-columns {
  display: flex;
}

.footer-column {
  flex: 50%;
  margin: 20px;
}