@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Press+Start+2P&display=swap');
*{
  font-family: "Noto Serif", serif;
}
header, footer {
 font-family: "Noto Serif", serif;
  background-color: #9debf5;
  padding: 10px;
}

main {
  padding: 10px;
  background-color: silver;
  font-family: "Noto Serif", serif;
}

.post {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  display: flex;
}

.post img {
  margin: 20px;
}

.footer-columns {
  display: flex;
}

.footer-column {
  flex: 50%;
  margin: 20px;
}
ul {
list-style-type: square;
background: #ffffff;
padding: 15px;
}
ul li {
 background: #cce5ff;
padding: 5px;
  margin: 5px 0 0 35px;
}
nav ul {
  display: flex;
  list-style-type: none ;
}
nav > ul ::after{
  content: " ";
}
nav ul li ul{
  position: absolute;
  display: none;
}
nav ul li:hover ul{
  display:block;
}
